Package: com.nathanaccidentally.erebus
Name: Erebus
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A dark mode for the iOS 10 Music app.
Maintainer: nathanaccidentally
Author: nathanaccidentally
Section: Tweaks
